/* home page buttons */
.md-home .md-button {
    width:200px;
    text-align:center;
}

.md-typeset .md-home .md-button--primary {
    background-color: #dd2e57;
    border-color: #dd2e57;
    color: white;
}

.md-home .md-button--primary:hover,
.md-home .md-button--primary:focus {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: white;
}

/* image */
.image-center {
    display: block;
    margin: 0 auto;
}
